<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer - Translated</h1>

    <h2>Here is your input translated into pig latin: <%= @result %></h2>

  </body>
</html>
