<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form method="POST" action="/piglatinize">
      <p>What do you want to translate? <input type='text' name='input' /></p>
      <input type='submit' />
    </form>

  </body>
</html>
